.card {
  width: 50%;
  height: 190px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
