.scrollWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 992px) {
  .scrollWrapper {
    grid-template-columns: 1fr;
  }
}

.infiniteSpin,
.endMessage {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 10px;
}

.loaderWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.cardWrapper {
  min-height: calc(100vh - 84px - 120px);
}
