.wrapper {
  margin: 10px 20px;
  cursor: default;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between
}

.listTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.url,
.author {
  margin-right: 1em;
  margin-bottom: 1em;
}
.rating,
.date {
  margin-left: 1em;
  margin-bottom: 1em;
}